@import url('https://fonts.googleapis.com/css2?family=Varta:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Varta', sans-serif;
}

body{
    background: #19123b;
}

.main_div{
    height: 100vh;
}

.card{
    border: none;
    border-top: 5px solid rgb(176,106,200);
    background: #212042;
    color: #57557a;

}

p{
    font-size: 20px;
    font-weight: 500;
}
a{
    text-decoration: none;
}

.fab{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: #2a284d;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    transition: all 0.2s linear;
}

.fab:hover{
    cursor: pointer;
    background: #aaafff;

}

.fa-github{
    color: #6cc644;
}

.fa-facebook{
    color: #1775F1;
}

.fa-instagram{
    color: #fe4164;
}

.division{
    width: 100%;
    text-align: center;
    margin: 30px auto 20px;
}

.division span{
    font-weight: 500;
    font-size: 25px;
}

.my-form{
    padding: 0 25px 0 35px;
}

.form-control{
    border: 1px solid #57557a;
    border-radius: 2px;
    background: #212042;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.form-control:focus{
    border: 1px solid #57557a;
    border-radius: 5px;
    background: #212042;
    box-shadow: none;
    letter-spacing: 1px;
    color: #fff;
}

.btn-primary{
    background: linear-gradient(135deg, rgba(175, 106, 252, 1) 39%, rgba(116, 17, 255, 1) 100%)!important;
    border: none;
    border-radius: 50px;
}

small{
    color: #f2ceff;
}

@media (max-width: 786px) {
    .row{
        --bs-gutter-x: 0rem;
        --bs-gutter-x: 0 ;
    }
}